body{
    margin:0;
    height:100vh;;
     display:flex;
     align-items:center;
     justify-content: center; 
}
.container{
  height: 600px;
  display: flex;
  width:500px;
  justify-content: center;   
  align-items: center;      
  gap: 10px;   
  background-color: black;   
  border-radius:50%;
  margin:20px;
  border:10px solid rgb(219, 15, 15);     
}
.box1{
border-color: solid rgb(209, 54, 54);
    background-color:rgb(44, 167, 10);
     border-radius: 5px;
      width: 20px;
      height: 200px;
       animation-name:a;
       animation-duration: 1.5s;
        animation-iteration-count:infinite;
}
.box2{
     border-color: solid rgb(45, 42, 42);
    background-color:rgb(80, 180, 18);
     border-radius: 5px;
      width: 20px;
      height: 200px;
       animation-name:b;
       animation-duration: 0.95s;
        animation-iteration-count:infinite;
}
.box3{
border-color: solid rgb(209, 54, 54);
    background-color:rgb(44, 187, 12);
     border-radius: 5px;
      width: 20px;
      height: 200px;
       animation-name:c;
       animation-duration: 1s;
        animation-iteration-count:infinite;
}
        .box4{
border-color: solid rgb(209, 54, 54);
    background-color:rgb(101, 202, 18);
     border-radius: 5px;
      width: 20px;
      height: 200px;
       animation-name:d;
       animation-duration: 0.75s;
        animation-iteration-count:infinite;
}
.box5{
border-color: solid rgb(209, 54, 54);
    background-color:rgb(106, 202, 10);
     border-radius: 5px;
      width: 20px;
      height: 200px;
       animation-name:e;
       animation-duration: 1.0s;
        animation-iteration-count:infinite;
}
.box6{
border-color: solid rgb(209, 54, 54);
    background-color:rgb(34, 185, 10);
     border-radius: 5px;
      width: 20px;
      height: 200px;
       animation-name:f;
       animation-duration: 1.5s;
        animation-iteration-count:infinite;
}
.box7{
border-color: solid rgb(209, 54, 54);
    background-color:rgb(83, 175, 9);
     border-radius: 5px;
      width: 20px;
      height: 200px;
       animation-name:g;
       animation-duration: 1.2s;
        animation-iteration-count:infinite;
}
.box8{
border-color: solid rgb(209, 54, 54);
    background-color:rgb(22, 182, 4);
     border-radius: 5px;
      width: 20px;
      height: 200px;
       animation-name:h;
       animation-duration: 0.73s;
        animation-iteration-count:infinite;
}
.box9{
border-color: solid rgb(209, 54, 54);
    background-color:rgb(61, 195, 12);
     border-radius: 5px;
      width: 20px;
      height: 200px;
       animation-name:i;
       animation-duration: 2s;
        animation-iteration-count:infinite;
}

 @keyframes a {
    from{
        transform: scaleY(0.1);
        
    }
    to{
        transform:scaleY(-2);

    }
    
 }
 @keyframes b {
    from{
        transform: scaleY(0.72);
        
    }
    to{
        transform:scaleY(1.85);

    }
}
@keyframes c {
    from{
        transform: scaleY(0);
        
    }
    to{
        transform:scaleY(-0.5);

    }
}
  
 @keyframes d {
    from{
        transform: scaleY(0.5);
        
    }
    to{
        transform:scaleY(-1.4);

    }
}
@keyframes e {
    from{
        transform: scaleY(0.5);
        
    }
    to{
        transform:scaleY(1.65);

    }
    
 }
 @keyframes f {
    from{
        transform: scaleY(0.50);
        
    }
    to{
        transform:scaleY(-1.82);

    }
    
 }
 @keyframes g {
    from{
        transform: scaleY(0);
        
    }
    to{
        transform:scaleY(1.99);

    }
}
@keyframes h {
    from{
        transform: scaleY(-0);
        
    }
    to{
        transform:scaleY(1.5);

    }
}
@keyframes i {
    from{
        transform: scaleY(0);
        
    }
    to{
        transform:scaleY(-1.99);

    }
}
h2{
    color:azure
}