body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;
  background-color: black;;
}

h1{
  margin-bottom: 20px;
  color:white;
}

.container{
  border: none;
  display: flex;
  gap: 30px;        
  margin-bottom: 20px;
  width:1100px;
}



.child{
  position: relative;
  height: 200px;
  width: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border: 2px solid #e0d8d8; 

  background-color: transparent;        
  transition: background-color 1.5s ease; 
}


.child img{
  width:100%;
  height:100%;
  
}


.child p{
  position: absolute;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 18px;
  opacity: 0;
  transition: opacity 5.5s ease;
  z-index: 2;
}


.child:hover img{
 display:none;
 transition-delay: 3sec;
}



.child:hover p{
  opacity:2;
}


.child-1{ background-color:rgb(129, 105, 85); }
.child-2{ background-color:rgb(207, 212, 205); }
.child-3{ background-color:rgb(185, 172, 172); }
.child-4{ background-color:rgb(126, 89, 89); }
.child-5{ background-color:rgb(15, 133, 201); }
.child-6{ background-color:rgb(215, 204, 204); }
.child-7{ background-color:rgb(172, 179, 172); }
.child-8{ background-color:rgb(127, 121, 126); }

